/*common control*/
.button-1 {
    background-color: #0066FF;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline:0 none;
    padding: 6px 12px;
    transition: background-color 0.2s;
}
.button-1:hover {
    background-color: #333399;
}

/*assignment*/
.assignment-3 {
    text-align: center;
}

.assignment-3 .container {
    /*border: solid 1px #00f;*/
    margin: 0 auto;
    padding-left: 40px;
    width: 1200px;
}

.assignment-3 .container .tabular {
}

.tabular .left {
    float: left;
}

.tabular .left .button-container {
}

.button-container .button-box {

}

.button-container .button-box input[type='button'] {

}

.table-container {

}

.table-container .table-box {
    overflow-x: scroll;
    width: 1200px;
}

.table-container .table-box table {
    float: left;
    border: solid 1px #000;
}

table tr td,
table tr th {
    border: solid 1px #000;
    padding: 6px 12px;
}

table tr th {
    background-color: #A3A3A3;
}
table tr th input{
   display: none
}
table tr th.cell.score {
    cursor: pointer;
    user-select: none;
}

table tbody tr:nth-child(odd),
table tbody tr:nth-child(odd) .cell.score {
    background-color: #ccc;
}
table tbody tr:nth-child(even),
table tbody tr:nth-child(even) .cell.score {
    background-color: #eee;
}

.cell.score {
    box-shadow: -5px 10px 10px 1px #888;
    position: sticky;
    right: 0;
}

.cell.score a {
    width: 127px;
}

table .per,
table .let,
table .sca {
    display: none;
}

table.per tr .per,
table.let tr .let,
table.sca tr .sca {
    display: block;
}

.row {

}

/*table .sel,*/
table th.sel {
    /*box-shadow: 0 0 5px 5px #888 inset;*/
    background-color: #888;
}

table .sel .row,
table .sel td,
table td.sel{
    /*box-shadow: 0 0 5px 5px hsla(60,100%,70%, 1) inset;*/
    /*background-color: #FFFFCC;*/
    background-color: #FFc;
}

table .row.sel .sel {
    background-color: #ff9;
}


table tr {

}

.cell {
    /*max-widt3: 170px;*/
}

.cell a{
    /*min-width: 20px;*/
    overflow: hidden;
}

td.cell.student {
    text-align: left!important;
}
td.cell.student a,
td.cell.fixed a {
    padding: 0;
}

td.cell.fixed {
    text-align: left!important;
}

td.cell.editable {
    text-align: right;
}

td.cell.score {
    text-align: right;
}

td.cell.red {
    background-color: #f00!important;
    color: #fff!important;
}

.cell.fail,
td.cell.fail {
    background-color: #ff3!important;
}

.cell.editable a {
    /*border: solid 1px #f00;*/
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10%;
    width: 80%;
}
.cell.editable.allow a {
    /*display: none;*/
    background-color: #fff;
    border: solid 1px #0066FF;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #0cf;
    height: 28px;
    line-height: 28px;
    /*overflow: auto;*/
}

.cell.editable input[type='text'] {
    display: none;
    width: 70px;
}
.cell.editable.allow input[type='text'] {
    display: block;
}

/*.table-container .table-box .score-container {*/
.table-container .score-container {
    /*background-color: #fff;*/
    bottom: 0;
    float: left;
    height: 70px;
    margin-top: 20px;
    position: sticky;
    width: 1200px;
}
.score-container .panel,
.score-container .board{
    background-color: #eee;
    float: right;
    height: 70px;
    /*padding-top: 5px;*/
}

.score-container .panel{
    border: solid 1px #09f;
    box-shadow: 0 0 3px 2px #09f;
    height: 50px;
    float: left;
    padding-top: 20px;
    width: 613px;
}
.score-container .panel input[type='button']{
    float: left;
    margin-left: 10px;
}

.score-container .board{
    border: solid 1px #c30;
    box-shadow: 0 0 3px 2px #c30;
    float: right;
    width: 420px;
}
.score-container .board .stat-un-sub{

}

.score-container .board .stat-un-sub label{
    color: #333399;
    font-size: 22px;
    font-weight: bolder;
    line-height: 70px;
}
.score-container .board .stat-un-sub span{
    background-color: #FFFFCC;
    /*border: solid 1px #f00;*/
    border-radius: 4px;
    line-height: 70px;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 10px;
    padding: 4px 12px;
}

.tabular .right {
    border: solid 1px #f00;
    float: right;
    width: 19%;
}


/*NOTE BOX*/
.re-box {
    width: 1200px;
}
.re-box.fold {
    float: left;
    border: #f00;
    height: 40px;
}
.re-box.fold {
}

.re-box .button-expand {
    display: none;
}

.re-box.fold .button-expand {
    display: block;
}
.re-box.fold .button-fold {
    display: none;
}

.re-box .button-fold,
.re-box .button-expand {
    background-color: #cc9;
    cursor: pointer;
    float: left;
    padding: 4px 14px;
    margin-left: 10px;
}
.re-box .tit {
    color: #c30;
    font-size: 18px;
    font-weight: bolder;
}
.re-box ul li{
    list-style: none;
    padding-top: 8px;
    text-align: left;
}
.re-box ul li span {
    font-size: 14px;
    padding-left: 8px;
}
.re-box ul li:before{
    background-color: #0cf;
    background-image: linear-gradient(165deg, #0cf, #0f3);
    border: solid 1px #06c;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px #0f6;
    content: 'DONE';
    font-size: 9px;
    margin: 2px;
    line-height: 30px;
    padding: 2px 4px;
}

.re-box .re-right .txt ul li:nth-child(n+2) span:after{
    color: #c03;
    font-weight: bolder;
    padding-left: 8px ;
}

.re-box .re-right .txt ul li:nth-child(2) span:after,
.re-box .re-right .txt ul li:nth-child(3) span:after {
    content: '(1%)';
}
.re-box .re-right .txt ul li:nth-child(4) span:after{
    content: '(2%)';
}

.re-box .re-left .txt ul li:nth-child(1),
.re-box .re-left .txt ul li:nth-child(7),
.re-box .re-left .txt ul li:nth-child(8),
.re-box .re-right .txt ul li:nth-child(1)
{
    font-weight: bold;
    padding-left: 10px;
}
.re-box .re-left .txt ul li:nth-child(2),
.re-box .re-left .txt ul li:nth-child(5),
.re-box .re-left .txt ul li:nth-child(6),
.re-box .re-left .txt ul li:nth-child(9),
.re-box .re-left .txt ul li:nth-child(10),
.re-box .re-right .txt ul li:nth-child(n+2) {
    padding-left: 45px;
}
.re-box .re-left .txt ul li:nth-child(3),
.re-box .re-left .txt ul li:nth-child(4)
{
    padding-left: 80px;
}

.re-box .re-left {
    float: left;
}
.re-left .tit{

}
.re-left .txt ul{
}


.re-box .re-right {
    float: left;
    margin-left: 100px;
}
.re-right .tit{

}
.re-right .txt ul{

}
.re-right .txt ul li{
}

